/** #Hack 1 **/
#et-secondary-menu li, #top-menu li, .et_pb_gallery_item, .et_pb_portfolio_item, 
.et_pb_blurb_content, .et_pb_tabs_controls, .et_pb_tab, .et_pb_slide_description, 
.et_pb_pricing_heading, .et_pb_pricing_content, .et_pb_promo_description, .et_pb_newsletter_description, 
.et_pb_counter_title, .et_pb_circle_counter, .et_pb_number_counter, .et_pb_toggle_title, .et_pb_toggle_content, 
.et_pb_contact_main_title, .et_pb_testimonial_description_inner, .et_pb_team_member, .et_pb_countdown_timer_container,
.et_pb_post, .et_pb_text, .product, .et_pb_widget {
word-wrap: normal;
}

/** #Hack 2 **/
Email from %%email%% The message is – %%message%%

/** #Hack 3 **/
span.mobile_menu_bar:before {
color: red !important;
}

/** #Hack 4 **/
ul#mobile_menu.et_mobile_menu {
background-color: red;
}

/** #Hack 5 **/
#main-header #top-menu li.current-menu-item > a {
color: red !important;
}

/** #Hack 6 **/
#footer-bottom {
display:none;
}

/** #Hack 7 **/
.top-row{
  z-index: 1;
}
 .bottom-row{
transform: translate(0,-171px);
z-index:2;
}

/** #Hack 8 **/
/** App Style header and Drop Down Menu **/
@media (max-width: 980px) {
.container.et_menu_container {
width: calc( 100% - 60px);
}
}
.et_mobile_menu {
margin-left: -30px;
padding: 5%;
width: calc( 100% + 60px);
}
.mobile_nav.opened .mobile_menu_bar:before {
content: "\4d";
}
/* To Change the background color of the drop down items */

.et_header_style_centered #et_mobile_nav_menu {
background-color: #000 !important;
}

/* To change the color of the navigation box */

@media all and (max-width: 980px) {
#mobile_menu {
background-color: rgba(0, 0, 0, 1) !important;}
}
/* Hack 8 ends */

/** #Hack 9 **/
<style type="text/css">
#main-header .et_mobile_menu .menu-item-has-children > a { background-color: transparent; position: relative; }
#main-header .et_mobile_menu .menu-item-has-children > a:after { font-family: 'ETmodules'; text-align: center; speak: none; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; position: absolute; }
#main-header .et_mobile_menu .menu-item-has-children > a:after { font-size: 16px; content: '\4c'; top: 13px; right: 10px; }
#main-header .et_mobile_menu .menu-item-has-children.visible > a:after { content: '\4d'; }
#main-header .et_mobile_menu ul.sub-menu { display: none !important; visibility: hidden !important;  transition: all 1.5s ease-in-out;}
#main-header .et_mobile_menu .visible > ul.sub-menu { display: block !important; visibility: visible !important; }
</style>

<script type="text/javascript">
(function($) {
      
    function setup_collapsible_submenus() {
        var $menu = $('#mobile_menu'),
            top_level_link = '#mobile_menu .menu-item-has-children > a';
             
        $menu.find('a').each(function() {
            $(this).off('click');
              
            if ( $(this).is(top_level_link) ) {
                $(this).attr('href', '#');
            }
              
            if ( ! $(this).siblings('.sub-menu').length ) {
                $(this).on('click', function(event) {
                    $(this).parents('.mobile_nav').trigger('click');
                });
            } else {
                $(this).on('click', function(event) {
                    event.preventDefault();
                    $(this).parent().toggleClass('visible');
                });
            }
        });
    }
      
    $(window).load(function() {
        setTimeout(function() {
            setup_collapsible_submenus();
        }, 700);
    });
 
})(jQuery);
</script>
/** #Hack 9 ends**/

/** #Hack 10 **/
